/* Styles pour le bouton de soumission */
.submission-button-container {
    text-align: center;
    margin: 3rem 0;
}

.submission-button {
    display: inline-block;
    background-color: #004466;
    color: #fff;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.submission-button:hover {
    background-color: #0077b3;
    transform: translateY(-2px); /* Léger effet de soulèvement au survol */
}

.small-text {
    text-align: center;
    font-size: 0.9rem;
    color: #666;
    margin-top: 1rem;
}
